<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="calMapper">

	<insert id="insertCal" parameterType="CalDto">
		INSERT INTO CALBOARD
		VALUES(CALBOARD_SEQ.NEXTVAL, #{id}, #{title}, #{content}, #{mdate}, SYSDATE)
	</insert>
	
	<select id="calBoardList" parameterType="Map" resultType="CalDto">
		SELECT SEQ, ID, TITLE, CONTENT, MDATE, REGDATE
		FROM CALBOARD
		WHERE ID=#{id} AND SUBSTR(MDATE,1,8) = #{yyyyMMdd}
		ORDER BY MDATE
	</select>
	
	<select id="calDetail" parameterType="int" resultType="CalDto">
		SELECT SEQ, ID, TITLE, CONTENT, MDATE, REGDATE
		FROM CALBOARD
		WHERE SEQ = #{seq}
	</select>
	
	<update id="calUpdate" parameterType="CalDto">
		UPDATE CALBOARD SET
		TITLE = #{title}, CONTENT=#{content},
		MDATE=#{mdate}, REGDATE=SYSDATE
		WHERE SEQ=#{seq}
	</update>
	
	<delete id="calMuldel" parameterType="Map">
		DELETE FROM CALBOARD WHERE SEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator=",">
			#{seq}
		</foreach>
	</delete>
	
	<select id="calCount" parameterType="Map" resultType="int">
		SELECT COUNT(*)
		FROM CALBOARD
		WHERE ID= #{id} AND SUBSTR(MDATE,1,8) = #{yyyyMMdd}
	</select>
	
	<select id="calViewList" parameterType="Map" resultType="CalDto">
		SELECT RN, SEQ, ID, TITLE, CONTENT, MDATE, REGDATE
		FROM (
		        SELECT ROW_NUMBER() OVER(PARTITION BY SUBSTR(MDATE,1,8) ORDER BY MDATE) AS RN, 
	                    SEQ, ID, TITLE, CONTENT, MDATE, REGDATE
		        FROM CALBOARD
		        WHERE ID=#{id} AND SUBSTR(MDATE,1,6)=#{yyyyMM}
		      )
		WHERE RN BETWEEN 1 AND 3
	</select>
 	
 	
    
    <select id="camera1" resultType="_int" parameterType="Camera">
     <!--  select (select SUM(camera_total) AS camera_total from camera
       WHERE camera_date BETWEEN TO_DATE('2022-01-01', 'YYYY-MM-DD') 
                   AND TO_DATE(SYSDATE, 'YYYY-MM-DD') and USER_ID = #{id}) 
      from camera -->
      
    
     <!-- select SUM(camera_total) AS camera_total from camera
     where  to_char( CAMERA_DATE, 'yyyyMMdd' ) = '20220201' and USER_ID = #{id} -->
     select SUM(camera_total) AS camera_total, to_char(camera_date, 'yyyyMMdd') as camera_date from camera
		where USER_ID = #{id}
		GROUP BY CAMERA_DATE
    </select>
    
    <!-- <select id="cameraViewList22" parameterType="Map" reseultType="Camera">
    SELECT SUM(CAMERA_TOTAL) FROM CAMERA
    WHERE CAMERA_DATE = #{Camera}
    </select> -->
    
   
</mapper>

