<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="cacheEnabled" value="false" />
	</settings>
	
	<typeAliases>		
		<typeAlias type="com.test.Accounts.accountbook.model.vo.AccountBook" alias="AccountBook" />		
		<typeAlias type="com.test.Accounts.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.test.Accounts.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="com.test.Accounts.board.model.vo.Board" alias="Board" />
		<typeAlias type="com.test.Accounts.common.SearchDate" alias="SearchDate" />
		<typeAlias type="com.test.Accounts.common.Paging" alias="Paging" />
		<typeAlias type="com.test.Accounts.calendar.model.vo.CalDto" alias="CalDto" />
		<typeAlias type="com.test.Accounts.camera.model.vo.Camera" alias="Camera" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/calendar-mapper.xml" />
		<mapper resource="mappers/camera-mapper.xml" />
		<mapper resource="mappers/accountbook-mapper.xml" />
	</mappers>
</configuration>
